// Specific CSS for your home-page

// General
html,body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  flex-direction: column;
}


// Hero Banner
#hero{
  margin-bottom: 9rem;
  padding: 13rem 0;
  h1{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
  h2{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 30px;
  }

// Image shape in the header
}
.shape{
  width: 50%;
  z-index: -1;
  position: absolute;
  left: 50%;
}


// Statistics

#statistics{
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin-bottom: 3rem;

  h3{
    font-weight: 700;
    font-size: 2.5rem;
  }
}

// benefit 1

#benefit1{
  h2{
    margin-top: 10rem;
    font-weight: 600;
    font-size: 2.5rem;
  }
  p{
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
  }
}

.shape-computer{
  width: 90%;
  display: inline-block;
}


// Matérias section

#materias{
  background-color: #FFFCEB;
  padding: 2rem 0;

  h2{
    font-weight: 600;
    font-size: 2.5rem;

    span{
      border-bottom: #FFE75E 5px solid;
    }
  }

  .subject-card{
    width: 15rem;
    height: 15rem;
    background-color: white;
    margin: 2rem auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    .subject{
      padding-top: 1rem;
      font-weight: 600;
    }
  }
}

.subject-icon{
  padding-top: 90px;
}
