// Specific CSS for your home-page

// Hero Banner
#hero{
  margin-bottom: 9rem;
  h1{
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 4rem;
  }
  h2{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 30px;
  }

// Image shape in the header
}
.shape{
  width: 50%;
  z-index: -1;
  position: absolute;
  left: 50%;
}


// Statistics

#statistics{
  background-color: black;
  color: white;
  padding: 5rem 0;

  h3{
    font-weight: bolder;
    font-size: 2.5rem;
  }
}



.news{
  width: 250px;
  filter: grayscale(100%);
}
#fake_news{
  width: 120px;
}
.media{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  margin: 56px 0;
  align-items: center;
  padding-top: 24px;
}

#banner{
  background-color: #FFF1CF;
  padding: 240px 0;
}


.section{
  padding: 160px 0;
}
#ben2{
  background-color: rgba(255, 211, 105, 0.52);
}


html,body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #3db3c5, #274685);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
