<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col-4 col-xl-4">
      <div class="d-flex flex-column">
        <a href="#"><%= t("pages.home.us") %></a>
        <a href="#"><%= t("pages.home.contact") %></a>
      </div>
    </div>
    <div class="col-8 col-xl-8">
      <a><i class="fab fa-facebook-square"></i></a>
      <a><i class="fab fa-github"></i></a>
      <a><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
