.search_form{
  padding: 58px 33px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin: 24px;
}

input{
  border-radius: 5px;
  background-color: #E0E0E0;
  border: 0;
}

input::placeholder{
  color: #B4B4B4;
  padding-left: 8px;
}
.group{
  display: inline-block;
}
