<div class="search_form">
  <form action="">
    <div class="row">
      <div class="col-12 col-xl-4">
        <div class="group">
          <label for=""><%= t("pages.home.subject") %></label><br>
          <input type="text" placeholder="Ex: <%= t("pages.home.math") %>">
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <div class="group">
          <label for=""><%= t("pages.home.date") %></label><br>
          <input type="text" placeholder="Ex: 20/10">
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <button class="btn btn-primary"><%= t("pages.home.search") %></button>
      </div>
    </div>
  </form>
</div>
